body {
  margin: 0;
  font-family: "Poppins", sans-serif;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: black;
  padding: 10px;
}

nav {
  background-color: black;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

nav a {
  color: white;
  margin-right: 20px;
  text-decoration: none;
  font-weight: bold;
  font-size: 16px;
}

h1 {
  color: #f80a0a;
}
h2 {
  color: #fffdfd;
}
h3 {
  color: #052283;
}
h4 {
  color: #fffdfd;
}
.icone-para {
  width: 100px;
  height: 50px;
}

p {
  color: #ffffff;
}
th {
  color: #ffffff;
}
td {
  color: #ffffff;
}
.link-colorido {
  color: white;
  text-decoration: none;
}

.img {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.conteudo {
  padding: 50px;
  background-color: red;
}
.imagem-cult {
  width: 650px; /* Largura desejada */
  height: auto; /* Mantém a proporção */
}
.tabela-azul {
  color: rgb(5, 35, 133); /* Define a cor do texto da tabela como branca */
  border: 1px solid white; /* Define a cor da borda da tabela como branca */
}
.texto-azul {
  color: rgb(12, 76, 252); /* Define a cor do texto como branca */
}

.Círio {
  padding: 20px;
  background-color: red;
}
.texto-branco {
  color: rgb(231, 230, 230); /* Define a cor do texto como branca */
}

a {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
