body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: black;
  padding: 10px;
}

.Titulo {
  color: blue;
  margin: 0;
}

nav {
  background-color: black;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

nav a {
  color: white;
  margin-right: 20px;
  text-decoration: none;
  font-weight: bold;
  font-size: 16px;
}

h1 {
  color: #333;
  margin-top: 20px;
}

p {
  font-size: 16px;
  line-height: 1.5;
}

img {
  max-width: 100%;
  height: auto;
  margin-top: 20px;
}

table {
  margin-top: 20px;
  border-collapse: collapse;
  width: 100%;
  text-align: center;
}

table,
th,
td {
  border: 1px solid #ddd;
}

th,
td {
  padding: 15px;
}

a {
  text-decoration: none;
  color: blue;
  font-weight: bold;
}

a:hover {
  text-decoration: underline;
}
center {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
