body {
  font-family: "Arial", sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f0f0f0;
}

h1 {
  text-align: center;
  color: #333;
}

p {
  text-align: justify;
  margin: 20px;
}

img {
  display: block;
  margin: 0 auto;
  max-width: 25%;
  height: auto;
}

table {
  width: 80%;
  margin: 20px auto;
  border-collapse: collapse;
}

table,
th,
td {
  border: 1px solid #333;
}

th,
td {
  padding: 8px;
  text-align: center;
}

a {
  display: block;
  text-align: center;
  margin: 10px auto;
  padding: 6px;
  color: #fff;
  background-color: #007bff;
  text-decoration: none;
  border-radius: 5px;
}

a:hover {
  background-color: #0056b3;
}

table img {
  max-width: 20%;
  height: auto;
  margin: 5px auto;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: black;
  padding: 10px;
}
.Titulo {
  color: blue;
  margin: 0;
}

nav {
  background-color: black;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

nav a {
  color: white;
  margin-right: 20px;
  text-decoration: none;
  font-weight: bold;
  font-size: 16px;
}
